<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>hello world</h1>
        <p>hello wordl アプリ</p>
        <p>class Based View で作成</p>
        <ul>
            <li>django は使用するが、black box 化はしない</li>
            <p>※ あくまで機能や挙動を理解した上での使用を目的とする</p>
            <li>基本的な django 操作方法</li>
            <li>django フレームワークの仕組みの理解</li>
            <li>django 内 file の役割と機能</li>
            <li>django の挙動の理解</li>
            <li>django の特徴とメリット・デメリット</li>
        </ul>
    </body>
</html>
